* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

input:focus-visible, textarea:focus-visible{
    outline: none;
}